.page {
    text-align: center;
    padding: 30px;
}

.page a {
    color: #669999;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

.page h1 {
    color: #1f2d53;
    font-family: "Satisfy", cursive;
    font-size: 3rem;
}

.page h3 {
    color: #1f2d53;
    font-family: "Satisfy", cursive;
    font-size: 1.5rem;
    text-align: left;
}

.page p {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    color: #1f2d53;
    font-family: "Quicksand", sans-serif;
}

.page li {
    color: #1f2d53;
    font-family: "Quicksand", sans-serif;
    text-align: left;
    margin-left: 10px;
}

.page img {
    max-width: 10%;
}

.page form {
    font-family: "Quicksand", sans-serif;
    padding: 20px;
}

.page button {
    padding: 10px;
    margin: 10px;
    background-color: #669999;
    color: white;
}

.page button:hover {
    background-color: #1f2d53;
    color: white;
}

.page-box {
    margin: 30px;
}

.formbox {
    margin-bottom: 10px;
}

.icon-top {
    margin: 20px;
}

#message-area {
    height: 100px;
}