.project {
    margin: 20px;
    width: 520px;
    min-height: 240px;
    text-align: left;
    border: solid 5px #669999;
}

.project h2 {
    color: #1f2d53;
    font-family: "Satisfy", cursive;
    font-size: 2.5rem;
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.project a {
    text-decoration: underline;
    text-decoration-color: #669999;
}

.git-image {
    margin-left: 30px;
}

.overlay {
    opacity: 0;
    background: rgba(255, 255, 255, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.project:hover .overlay {
    opacity: 1;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}